.Horse {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vw;
	transition: 2s;
	position: relative;
}

.Horse img {
	position: absolute;
	transform: scaleX(-1);
	height: 95%;
}


@keyframes finish {
	0% {
		transform: translateY(0) rotate(0deg);
	}
	50% {
		transform: translateY(-100px) rotate(180deg);
	}
	100% {
		transform: translateY(100vh) rotate(360deg);
	}
}