.Horse {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vw;
	transition: 2s;
	position: relative;
}

.Horse img {
	position: absolute;
	transform: scaleX(-1);
	height: 95%;
}