html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  background-image: url('/public/grass.jpg');
  background-repeat: repeat;
  background-position: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.LineList {
  position: absolute;
  top: 0;
  margin-top: 5vh;
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

